.home-hero
	h1 Welcome to Customer Management
		h3
			| This application built with Angular.js, Twitter Bootstrap, Node.js, Express, and MongoDB
		br
		div(style='opacity: .9;')
			a.btn.btn-large(href='/custman')
				img.pull-left(src='img/customerAdd.jpg', style='margin-right: 6px;')
				| Customer Management
			a.btn.btn-large(href='https://github.com/DongHyukLee74/cust-man-angular-master')
				img.pull-left(src='img/github.png', style='margin-right: 6px;')
				| View Project
				br
				| on GitHub
